@charset "utf-8";

* {
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-user-select: none;
	-moz-tap-highlight-color: rgba(0,0,0,0);
	-ms-user-select: none;
	-ms-tap-highlight-color: rgba(0,0,0,0);
	-o-user-select: none;
	-o-tap-highlight-color: rgba(0,0,0,0);
	user-select: none;
	tap-highlight-color: rgba(0,0,0,0);
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	font-family: "微软雅黑",Arial,Helvetica,sans-serif;
	color: #000;
	font-size: 14px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;
	display: -ms-box;
	-ms-box-orient: vertical;
	-ms-box-align: stretch;
	display: -o-box;
	-o-box-orient: vertical;
	-o-box-align: stretch;
	display: -webkit-box;
	box-orient: vertical;
	box-align: stretch;
	line-height: 1.25em;
	background: #504645;
}

input,textarea {
	-webkit-user-select: text;
	-webkit-appearance: none;
	-moz-user-select: text;
	-moz-appearance: none;
	-ms-user-select: text;
	-ms-appearance: none;
	-o-user-select: text;
	-o-appearance: none;
	user-select: text;
	appearance: none;
}

section,nav,article,aside,hgroup,header,footer {
	display: block
}

input,textarea,select,button,table {
	font-size: inherit;
	font-family: inherit;
	line-height: inherit
}

img,fieldset {
	border: 0
}

ul,ol,li {
	list-style: none
}

i,em,address {
	font-style: normal
}

a {
	color: inherit;
	text-decoration: none
}

.mask {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
}

.music {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	display: none;
}

.musicplay,.musicpause {
	position: absolute;
	top: 3%;
	right: 3%;
	z-index: 102;
	width: 29px;
	height: 29px;
	background: url(../img/musicplay.png) no-repeat;
	background-size: 29px auto;
}

.musicpause:after {
	content: "";
	position: absolute;
	z-index: 1;
	display: block;
	margin: 2px 13px;
	width: 1px;
	height: 25px;
	background: #fff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.itemlist {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.itemlist li {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	overflow: hidden;
	visibility: hidden
}

.itemlist li:first-child {
	z-index: 20;
	visibility: visible;
}

.itemlist li img {
	display: block;
	width: 100%;
	height: 100%;
}

.itemlist li .imgbox {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

.itemlist .item00 .imgbox {
	background: url(../img/bg00.jpg) center top no-repeat;
	background-size: cover;
}

.itemlist .item01 .tit00 {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: url(../img/bg01.jpg) center top no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: -webkit-transform 1.2s ease-in-out,opacity 1.5s ease-in-out;
	-moz-transition: -moz-transform 1.2s ease-in-out,opacity 1.5s ease-in-out;
	-ms-transition: -ms-transform 1.2s ease-in-out,opacity 1.5s ease-in-out;
	-o-transition: -o-transform 1.2s ease-in-out,opacity 1.5s ease-in-out;
	transition: transform 1.2s ease-in-out,opacity 1.5s ease-in-out;
	-webkit-transform: translateX(85%) translateZ(0);
	-moz-transform: translateX(85%) translateZ(0);
	-ms-transform: translateX(85%) translateZ(0);
	-o-transform: translateX(85%) translateZ(0);
	transform: translateX(85%) translateZ(0);
}

.itemlist .tran01 .tit00 {
	opacity: 1;
	-webkit-transform: translateX(0) translateZ(0);
	-moz-transform: translateX(0) translateZ(0);
	-ms-transform: translateX(0) translateZ(0);
	-o-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
}

.itemlist .item01 .tit01 {
	position: absolute;
	top: -62px;
	left: 5%;
	width: 62px;
	height: 62px;
	background: url(../img/logo.jpg) center top no-repeat;
	background-size: auto 100%;
	z-index: 9;
	opacity: 0;
	-webkit-transition: -webkit-transform 1.5s ease-in-out 1s,opacity 2s ease-in-out 1s;
	-moz-transition: -moz-transform 1.5s ease-in-out 1s,opacity 2s ease-in-out 1s;
	-ms-transition: -ms-transform 1.5s ease-in-out 1s,opacity 2s ease-in-out 1s;
	-o-transition: -o-transform 1.5s ease-in-out 1s,opacity 2s ease-in-out 1s;
	transition: transform 1.5s ease-in-out 1s,opacity 2s ease-in-out 1s;
	-webkit-transform: translateY(0) translateZ(0);
	-moz-transform: translateY(0) translateZ(0);
	-ms-transform: translateY(0) translateZ(0);
	-o-transform: translateY(0) translateZ(0);
	transform: translateY(0) translateZ(0);
}

.itemlist .tran01 .tit01 {
	opacity: 1;
	-webkit-transform: translateY(100%) translateZ(0);
	-moz-transform: translateY(100%) translateZ(0);
	-ms-transform: translateY(100%) translateZ(0);
	-o-transform: translateY(100%) translateZ(0);
	transform: translateY(100%) translateZ(0);
}

.itemlist .item01 .tit02 {
	position: absolute;
	top: 0;
	left: -130%;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,1)),to(rgba(0,0,0,0.1)));
	background-image: -moz-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,1)),to(rgba(0,0,0,0.1)));
	background-image: -ms-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,1)),to(rgba(0,0,0,0.1)));
	background-image: -o-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,1)),to(rgba(0,0,0,0.1)));
	background-image: gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,1)),to(rgba(0,0,0,0.1)));
	-webkit-transition: -webkit-transform 1.2s ease-in-out 1s;
	-moz-transition: -moz-transform 1.2s ease-in-out 1s;
	-ms-transition: -ms-transform 1.2s ease-in-out 1s;
	-o-transition: -o-transform 1.2s ease-in-out 1s;
	transition: transform 1.2s ease-in-out 1s;
	-webkit-transform: rotate(45deg) translateY(-170%) translateZ(0);
	-moz-transform: rotate(45deg) translateY(-170%) translateZ(0);
	-ms-transform: rotate(45deg) translateY(-170%) translateZ(0);
	-o-transform: rotate(45deg) translateY(-170%) translateZ(0);
	transform: rotate(45deg) translateY(-170%) translateZ(0);
}

.itemlist .tran01 .tit02 {
	-webkit-transform: rotate(45deg) translateY(-65%) translateZ(0);
	-moz-transform: rotate(45deg) translateY(-65%) translateZ(0);
	-ms-transform: rotate(45deg) translateY(-65%) translateZ(0);
	-o-transform: rotate(45deg) translateY(-65%) translateZ(0);
	transform: rotate(45deg) translateY(-65%) translateZ(0);
}

.itemlist .item01 .tit03 {
	position: absolute;
	bottom: -56px;
	left: 0;
	width: 0;
	height: 0;
	border: 28px solid transparent;
	border-right-color: #d02d1d;
	border-bottom-color: #d02d1d;
	z-index: 2;
	-webkit-transition: -webkit-transform 0.5s ease-in-out 1s;
	-moz-transition: -moz-transform 0.5s ease-in-out 1s;
	-ms-transition: -ms-transform 0.5s ease-in-out 1s;
	-o-transition: -o-transform 0.5s ease-in-out 1s;
	transition: transform 0.5s ease-in-out 1s;
	-webkit-transform: translateY(0) translateZ(0);
	-moz-transform: translateY(0) translateZ(0);
	-ms-transform: translateY(0) translateZ(0);
	-o-transform: translateY(0) translateZ(0);
	transform: translateY(0) translateZ(0);
}

.itemlist .tran01 .tit03 {
	-webkit-transform: translateY(-56px) translateZ(0);
	-moz-transform: translateY(-56px) translateZ(0);
	-ms-transform: translateY(-56px) translateZ(0);
	-o-transform: translateY(-56px) translateZ(0);
	transform: translateY(-56px) translateZ(0);
}

.itemlist .item01 .tit04 {
	position: absolute;
	bottom: 0;
	left: 56px;
	width: 0;
	height: 56px;
	background: #d02d1d;
	z-index: 3;
	-webkit-transition: -webkit-transform 1s ease-in-out 1.5s,width 1s ease-in-out 1.5s;
	-moz-transition: -moz-transform 1s ease-in-out 1.5s,width 1s ease-in-out 1.5s;
	-ms-transition: -ms-transform 1s ease-in-out 1.5s,width 1s ease-in-out 1.5s;
	-o-transition: -o-transform 1s ease-in-out 1.5s,width 1s ease-in-out 1.5s;
	transition: transform 1s ease-in-out 1.5s,width 1s ease-in-out 1.5s;
}

.itemlist .tran01 .tit04 {
	width: 100%;
}

.itemlist .item01 .tit05 {
	position: absolute;
	bottom: -180px;
	right: 0;
	width: 0;
	height: 0;
	border: 90px solid transparent;
	border-right-color: #d02d1d;
	border-bottom-color: #d02d1d;
	z-index: 2;
	-webkit-transition: -webkit-transform 0.6s ease-in-out 2.2s;
	-moz-transition: -moz-transform 0.6s ease-in-out 2.2s;
	-ms-transition: -ms-transform 0.6s ease-in-out 2.2s;
	-o-transition: -o-transform 0.6s ease-in-out 2.2s;
	transition: transform 0.6s ease-in-out 2.2s;
	-webkit-transform: translateY(0) translateZ(0);
	-moz-transform: translateY(0) translateZ(0);
	-ms-transform: translateY(0) translateZ(0);
	-o-transform: translateY(0) translateZ(0);
	transform: translateY(0) translateZ(0);
}

.itemlist .tran01 .tit05 {
	-webkit-transform: translateY(-180px) translateZ(0);
	-moz-transform: translateY(-180px) translateZ(0);
	-ms-transform: translateY(-180px) translateZ(0);
	-o-transform: translateY(-180px) translateZ(0);
	transform: translateY(-180px) translateZ(0);
}

.itemlist .item01 .tit06 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 48px;
	padding: 0 5px 0 35px;
	font-size: 11px;
	line-height: 14px;
	color: #fff;
	z-index: 4;
	opacity: 0;
	-webkit-transition: opacity 0.6s ease-in-out 2s;
	-moz-transition: opacity 0.6s ease-in-out 2s;
	-ms-transition: opacity 0.6s ease-in-out 2s;
	-o-transition: opacity 0.6s ease-in-out 2s;
	transition: opacity 0.6s ease-in-out 2s;
}

.itemlist .tran01 .tit06 {
	opacity: 1;
}

.itemlist .item01 .tit07 {
	position: absolute;
	top: 72%;
	left: 0;
	width: 100%;
	text-align: center;
	overflow: hidden;
	z-index: 4;
	opacity: 0;
	-webkit-transition: -webkit-transform 1.5s ease-in-out 1.5s,opacity 2s ease-in-out 1.5s;
	-moz-transition: -moz-transform 1.5s ease-in-out 1.5s,opacity 2s ease-in-out 1.5s;
	-ms-transition: -ms-transform 1.5s ease-in-out 1.5s,opacity 2s ease-in-out 1.5s;
	-o-transition: -o-transform 1.5s ease-in-out 1.5s,opacity 2s ease-in-out 1.5s;
	transition: transform 1.5s ease-in-out 1.5s,opacity 2s ease-in-out 1.5s;
	-webkit-transform: translateY(-50px) translateZ(0);
	-moz-transform: translateY(-50px) translateZ(0);
	-ms-transform: translateY(-50px) translateZ(0);
	-o-transform: translateY(-50px) translateZ(0);
	transform: translateY(-50px) translateZ(0);
}

.itemlist .tran01 .tit07 {
	opacity: 1;
	-webkit-transform: translateY(0) translateZ(0);
	-moz-transform: translateY(0) translateZ(0);
	-ms-transform: translateY(0) translateZ(0);
	-o-transform: translateY(0) translateZ(0);
	transform: translateY(0) translateZ(0);
}

.itemlist .item01 .tit07 p {
	display: inline-block;
	font-style: italic;
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(#adadad));
	background-image: -moz-gradient(linear,0% 0%,0% 100%,from(#fff),to(#adadad));
	background-image: -ms-gradient(linear,0% 0%,0% 100%,from(#fff),to(#adadad));
	background-image: -o-gradient(linear,0% 0%,0% 100%,from(#fff),to(#adadad));
	background-image: gradient(linear,0% 0%,0% 100%,from(#fff),to(#adadad));
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

.itemlist .item01 .tit07 p:first-child {
	font-size: 32px;
	line-height: 34px;
}

.itemlist .item01 .tit07 p:last-child {
	font-size: 12px;
	line-height: 14px;
	padding-top: 5px;
}

.itemlist .item02 .tit01 {
	position: absolute;
	top: 0;
	left: -111%;
	width: 100%;
	height: 200%;
	z-index: 3;
	background: #cf2921;
	-webkit-transition: -webkit-transform 1.3s ease-in-out;
	-moz-transition: -moz-transform 1.3s ease-in-out;
	-ms-transition: -ms-transform 1.3s ease-in-out;
	-o-transition: -o-transform 1.3s ease-in-out;
	transition: transform 1.3s ease-in-out;
	-webkit-transform: rotate(34deg) translateY(-130%) translateZ(0);
	-moz-transform: rotate(34deg) translateY(-130%) translateZ(0);
	-ms-transform: rotate(34deg) translateY(-130%) translateZ(0);
	-o-transform: rotate(34deg) translateY(-130%) translateZ(0);
	transform: rotate(34deg) translateY(-130%) translateZ(0);
}

.itemlist .tran02 .tit01 {
	-webkit-transform: rotate(34deg) translateY(-40%) translateZ(0);
	-moz-transform: rotate(34deg) translateY(-40%) translateZ(0);
	-ms-transform: rotate(34deg) translateY(-40%) translateZ(0);
	-o-transform: rotate(34deg) translateY(-40%) translateZ(0);
	transform: rotate(34deg) translateY(-40%) translateZ(0);
}

.itemlist .item02 .tit02 {
	position: absolute;
	top: 130%;
	right: -98%;
	width: 300%;
	height: 200%;
	z-index: 2;
	background: #000;
	-webkit-transition: -webkit-transform 1.3s ease-in-out;
	-moz-transition: -moz-transform 1.3s ease-in-out;
	-ms-transition: -ms-transform 1.3s ease-in-out;
	-o-transition: -o-transform 1.3s ease-in-out;
	transition: transform 1.3s ease-in-out;
	-webkit-transform: rotate(34deg) translateY(0) translateZ(0);
	-moz-transform: rotate(34deg) translateY(0) translateZ(0);
	-ms-transform: rotate(34deg) translateY(0) translateZ(0);
	-o-transform: rotate(34deg) translateY(0) translateZ(0);
	transform: rotate(34deg) translateY(0) translateZ(0);
}

.itemlist .tran02 .tit02 {
	-webkit-transform: rotate(34deg) translateY(-90%) translateZ(0);
	-moz-transform: rotate(34deg) translateY(-90%) translateZ(0);
	-ms-transform: rotate(34deg) translateY(-90%) translateZ(0);
	-o-transform: rotate(34deg) translateY(-90%) translateZ(0);
	transform: rotate(34deg) translateY(-90%) translateZ(0);
}

@media screen and (min-height:500px) {
	.itemlist .item02 .tit02 {
		right: -74%;
	}
}

.itemlist .item02 .tit03 {
	position: absolute;
	bottom: -230px;
	left: -200px;
	width: 200px;
	height: 230px;
	background: url(../img/i02t3.png) center no-repeat;
	background-size: auto 100%;
	z-index: 5;
	-webkit-transition: -webkit-transform 1.2s ease-in-out 0.8s;
	-moz-transition: -moz-transform 1.2s ease-in-out 0.8s;
	-ms-transition: -ms-transform 1.2s ease-in-out 0.8s;
	-o-transition: -o-transform 1.2s ease-in-out 0.8s;
	transition: transform 1.2s ease-in-out 0.8s;
	-webkit-transform: rotate(2deg) translate3d(0,13%,0);
	-moz-transform: rotate(2deg) translate3d(0,13%,0);
	-ms-transform: rotate(2deg) translate3d(0,13%,0);
	-o-transform: rotate(2deg) translate3d(0,13%,0);
	transform: rotate(2deg) translate3d(0,13%,0);
}

.itemlist .tran02 .tit03 {
	-webkit-transform: rotate(2deg) translate3d(125%,-157%,0);
	-moz-transform: rotate(2deg) translate3d(125%,-157%,0);
	-ms-transform: rotate(2deg) translate3d(125%,-157%,0);
	-o-transform: rotate(2deg) translate3d(125%,-157%,0);
	transform: rotate(2deg) translate3d(125%,-157%,0);
}

.itemlist .item02 .tit04,.itemlist .item02 .tit05 {
	position: absolute;
	width: 220px;
	z-index: 4;
	opacity: 0;
	-webkit-transition: -webkit-transform 1.2s ease-in-out 1.5s,opacity 1.5s ease-in-out 1.5s;
	-moz-transition: -moz-transform 1.2s ease-in-out 1.5s,opacity 1.5s ease-in-out 1.5s;
	-ms-transition: -ms-transform 1.2s ease-in-out 1.5s,opacity 1.5s ease-in-out 1.5s;
	-o-transition: -o-transform 1.2s ease-in-out 1.5s,opacity 1.5s ease-in-out 1.5s;
	transition: transform 1.2s ease-in-out 1.5s,opacity 1.5s ease-in-out 1.5s;
	-webkit-transform: translateX(0) translateZ(0);
	-moz-transform: translateX(0) translateZ(0);
	-ms-transform: translateX(0) translateZ(0);
	-o-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
}

.itemlist .item02 .tit04:before,.itemlist .item02 .tit05:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	z-index: -2;
	-webkit-transform: skew(-34deg,0deg);
	-moz-transform: skew(-34deg,0deg);
	-ms-transform: skew(-34deg,0deg);
	-o-transform: skew(-34deg,0deg);
	transform: skew(-34deg,0deg);
}

.itemlist .item02 .tit04:after,.itemlist .item02 .tit05:after {
	content: "";
	position: absolute;
	top: 0;
	right: -23px;
	display: block;
	height: 24px;
	z-index: -1;
	-webkit-transform: skew(-34deg,0deg);
	-moz-transform: skew(-34deg,0deg);
	-ms-transform: skew(-34deg,0deg);
	-o-transform: skew(-34deg,0deg);
	transform: skew(-34deg,0deg);
}

.itemlist .item02 .tit04 h3,.itemlist .item02 .tit05 h3 {
	font-size: 16px;
	line-height: 32px;
	color: #fff;
	padding-left: 28px;
}

.itemlist .item02 .tit04 p,.itemlist .item02 .tit05 p {
	font-size: 12px;
	line-height: 16px;
	color: #fff;
	padding: 3px 15px 8px 0;
	text-indent: 2em;
}

.itemlist .item02 .tit04 {
	top: 5%;
	left: -220px;
}

.itemlist .item02 .tit04:before {
	background: #000;
}

.itemlist .item02 .tit04:after {
	width: 25px;
	background: #cf2921;
}

.itemlist .tran02 .tit04 {
	opacity: 1;
	-webkit-transform: translateX(250px) translateZ(0);
	-moz-transform: translateX(250px) translateZ(0);
	-ms-transform: translateX(250px) translateZ(0);
	-o-transform: translateX(250px) translateZ(0);
	transform: translateX(250px) translateZ(0);
}

.itemlist .item02 .tit05 {
	bottom: 5%;
	right: -220px;
}

.itemlist .item02 .tit05:before {
	background: #cf2921;
}

.itemlist .item02 .tit05:after {
	width: 140px;
	background: #000;
}

.itemlist .tran02 .tit05 {
	opacity: 1;
	-webkit-transform: translateX(-250px) translateZ(0);
	-moz-transform: translateX(-250px) translateZ(0);
	-ms-transform: translateX(-250px) translateZ(0);
	-o-transform: translateX(-250px) translateZ(0);
	transform: translateX(-250px) translateZ(0);
}

.itemlist .item03 .tit00 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: #cf2921;
	opacity: 0;
	-webkit-transition: opacity 0.7s ease-in-out;
	-moz-transition: opacity 0.7s ease-in-out;
	-ms-transition: opacity 0.7s ease-in-out;
	-o-transition: opacity 0.7s ease-in-out;
	transition: opacity 0.7s ease-in-out;
}

.itemlist .tran03 .tit00 {
	opacity: 1;
}

.itemlist .item03 .tit01 {
	position: absolute;
	top: 140px;
	left: -140%;
	width: 130%;
	z-index: 4;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.5s;
	-moz-transition: -moz-transform 1s ease-in-out 0.5s;
	-ms-transition: -ms-transform 1 ease-in-out 0.5s;
	-o-transition: -o-transform 1s ease-in-out 0.5s;
	transition: transform 1s ease-in-out 0.5s;
	-webkit-transform: translateX(0) translateZ(0);
	-moz-transform: translateX(0) translateZ(0);
	-ms-transform: translateX(0) translateZ(0);
	-o-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
}

.itemlist .item03 .tit01:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: -1;
	-webkit-transform: skew(-45deg,0deg);
	-moz-transform: skew(-45deg,0deg);
	-ms-transform: skew(-45deg,0deg);
	-o-transform: skew(-45deg,0deg);
	transform: skew(-45deg,0deg);
}

.itemlist .item03 .tit01 p {
	width: 70%;
	font-size: 12px;
	line-height: 16px;
	color: #6f6f6f;
	padding: 8px 15px 8px 25px;
	text-indent: 2em;
}

.itemlist .tran03 .tit01 {
	-webkit-transform: translateX(105%) translateZ(0);
	-moz-transform: translateX(105%) translateZ(0);
	-ms-transform: translateX(105%) translateZ(0);
	-o-transform: translateX(105%) translateZ(0);
	transform: translateX(105%) translateZ(0);
}

.itemlist .item03 .tit02 {
	position: absolute;
	top: 160px;
	right: -300px;
	width: 70px;
	height: 300px;
	background: #000;
	z-index: 3;
	-webkit-transition: -webkit-transform 0.8s ease-in-out 1.2s;
	-moz-transition: -moz-transform 0.8s ease-in-out 1.2s;
	-ms-transition: -ms-transform 0.8s ease-in-out 1.2s;
	-o-transition: -o-transform 0.8s ease-in-out 1.2s;
	transition: transform 0.8s ease-in-out 1.2s;
	-webkit-transform: skew(45deg,0deg) translate3d(0,0,0);
	-moz-transform: skew(45deg,0deg) translate3d(0,0,0);
	-ms-transform: skew(45deg,0deg) translate3d(0,0,0);
	-o-transform: skew(45deg,0deg) translate3d(0,0,0);
	transform: skew(45deg,0deg) translate3d(0,0,0);
}

.itemlist .tran03 .tit02 {
	-webkit-transform: skew(45deg,0deg) translate3d(-90px,-200px,0);
	-moz-transform: skew(45deg,0deg) translate3d(-90px,-200px,0);
	-ms-transform: skew(45deg,0deg) translate3d(-90px,-200px,0);
	-o-transform: skew(45deg,0deg) translate3d(-90px,-200px,0);
	transform: skew(45deg,0deg) translate3d(-90px,-200px,0);
}

.itemlist .item03 .tit03 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 150px;
	height: 210px;
	background: #000;
	z-index: 2;
	-webkit-transition: -webkit-transform 0.6s ease-in-out 0.5s;
	-moz-transition: -moz-transform 0.6s ease-in-out 0.5s;
	-ms-transition: -ms-transform 0.6s ease-in-out 0.5s;
	-o-transition: -o-transform 0.6s ease-in-out 0.5s;
	transition: transform 0.6s ease-in-out 0.5s;
	-webkit-transform: skew(0deg,-45deg) translate3d(-100%,0,0);
	-moz-transform: skew(0deg,-45deg) translate3d(-100%,0,0);
	-ms-transform: skew(0deg,-45deg) translate3d(-100%,0,0);
	-o-transform: skew(0deg,-45deg) translate3d(-100%,0,0);
	transform: skew(0deg,-45deg) translate3d(-100%,0,0);
}

.itemlist .item03 .tit03:after {
	content: "";
	position: absolute;
	top: -20px;
	right: -1px;
	display: block;
	width: 40px;
	height: 40px;
	background: #cf2921;
	z-index: 2;
	overflow: hidden;
	-webkit-transform: skew(0deg,45deg);
	-moz-transform: skew(0deg,45deg);
	-ms-transform: skew(0deg,45deg);
	-o-transform: skew(0deg,45deg);
	transform: skew(0deg,45deg);
}

.itemlist .tran03 .tit03 {
	-webkit-transform: skew(0deg,-45deg) translate3d(0,15%,0);
	-moz-transform: skew(0deg,-45deg) translate3d(0,15%,0);
	-ms-transform: skew(0deg,-45deg) translate3d(0,15%,0);
	-o-transform: skew(0deg,-45deg) translate3d(0,15%,0);
	transform: skew(0deg,-45deg) translate3d(0,15%,0);
}

.itemlist .item03 .tit04 {
	position: absolute;
	bottom: 43px;
	left: 111px;
	width: 0;
	height: 172px;
	background: #000;
	z-index: 4;
	-webkit-transition: width 0.6s ease-in-out 1.1s;
	-moz-transition: width 0.6s ease-in-out 1.1s;
	-ms-transition: width 0.6s ease-in-out 1.1s;
	-o-transition: width 0.6s ease-in-out 1.1s;
	transition: width 0.6s ease-in-out 1.1s;
}

.itemlist .tran03 .tit04 {
	width: 100%;
}

.itemlist .item03 .tit05 {
	position: absolute;
	bottom: 43px;
	right: 0;
	width: 0;
	height: 0;
	border: 120px solid transparent;
	border-right-color: #000;
	border-bottom-color: #000;
	z-index: 2;
	-webkit-transition: -webkit-transform 0.3s ease-in-out 1.5s;
	-moz-transition: -moz-transform 0.3s ease-in-out 1.5s;
	-ms-transition: -ms-transform 0.3s ease-in-out 1.5s;
	-o-transition: -o-transform 0.3s ease-in-out 1.5s;
	transition: transform 0.3s ease-in-out 1.5s;
	-webkit-transform: translateX(240px) translateZ(0);
	-moz-transform: translateX(240px) translateZ(0);
	-ms-transform: translateX(240px) translateZ(0);
	-o-transform: translateX(240px) translateZ(0);
	transform: translateX(240px) translateZ(0);
}

.itemlist .tran03 .tit05 {
	-webkit-transform: translateX(0) translateZ(0);
	-moz-transform: translateX(0) translateZ(0);
	-ms-transform: translateX(0) translateZ(0);
	-o-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
}

.itemlist .item03 .tit06 {
	position: absolute;
	bottom: 43px;
	right: 0;
	width: 40px;
	height: 15px;
	background: #cf2921;
	z-index: 5;
	-webkit-transition: -webkit-transform 0.3s ease-in-out 1.5s;
	-moz-transition: -moz-transform 0.3s ease-in-out 1.5s;
	-ms-transition: -ms-transform 0.3s ease-in-out 1.5s;
	-o-transition: -o-transform 0.3s ease-in-out 1.5s;
	transition: transform 0.3s ease-in-out 1.5s;
	-webkit-transform: skew(-45deg,0) translateX(60px);
	-moz-transform: skew(-45deg,0) translateX(60px);
	-ms-transform: skew(-45deg,0) translateX(60px);
	-o-transform: skew(-45deg,0) translateX(60px);
	transform: skew(-45deg,0) translateX(60px);
}

.itemlist .tran03 .tit06 {
	-webkit-transform: skew(-45deg,0) translateX(20px);
	-moz-transform: skew(-45deg,0) translateX(20px);
	-ms-transform: skew(-45deg,0) translateX(20px);
	-o-transform: skew(-45deg,0) translateX(20px);
	transform: skew(-45deg,0) translateX(20px);
}

.itemlist .item03 .tit07 {
	position: absolute;
	bottom: 58px;
	right: 0;
	width: 100%;
	height: 168px;
	background: url(../img/i03t7.png) center right no-repeat;
	background-size: auto 100%;
	z-index: 6;
	opacity: 0;
	-webkit-transition: -webkit-transform 1.2s ease-in-out 1.5s,opacity 1.5s ease-in-out 1.5s;
	-moz-transition: -moz-transform 1.2s ease-in-out 1.5s,opacity 1.5s ease-in-out 1.5s;
	-ms-transition: -ms-transform 1.2s ease-in-out 1.5s,opacity 1.5s ease-in-out 1.5s;
	-o-transition: -o-transform 1.2s ease-in-out 1.5s,opacity 1.5s ease-in-out 1.5s;
	transition: transform 1.2s ease-in-out 1.5s,opacity 1.5s ease-in-out 1.5s;
	-webkit-transform: translateX(100%) translateZ(0);
	-moz-transform: translateX(100%) translateZ(0);
	-ms-transform: translateX(100%) translateZ(0);
	-o-transform: translateX(100%) translateZ(0);
	transform: translateX(100%) translateZ(0);
}

.itemlist .tran03 .tit07 {
	opacity: 1;
	-webkit-transform: translateX(0) translateZ(0);
	-moz-transform: translateX(0) translateZ(0);
	-ms-transform: translateX(0) translateZ(0);
	-o-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
}

.itemlist .item04 .tit00 {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: url(../img/bg04.jpg) center top no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: -webkit-transform 1.5s ease-in-out,opacity 1.8s ease-in-out;
	-moz-transition: -moz-transform 1.5s ease-in-out,opacity 1.8s ease-in-out;
	-ms-transition: -ms-transform 1.5s ease-in-out,opacity 1.8s ease-in-out;
	-o-transition: -o-transform 1.5s ease-in-out,opacity 1.8s ease-in-out;
	transition: transform 1.5s ease-in-out,opacity 1.8s ease-in-out;
	-webkit-transform: translateY(100%) translateZ(0);
	-moz-transform: translateY(100%) translateZ(0);
	-ms-transform: translateY(100%) translateZ(0);
	-o-transform: translateY(100%) translateZ(0);
	transform: translateY(100%) translateZ(0);
}

.itemlist .tran04 .tit00 {
	opacity: 1;
	-webkit-transform: translateY(0) translateZ(0);
	-moz-transform: translateY(0) translateZ(0);
	-ms-transform: translateY(0) translateZ(0);
	-o-transform: translateY(0) translateZ(0);
	transform: translateY(0) translateZ(0);
}

.itemlist .item04 .tit01 {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 115px solid transparent;
	border-left-color: #cf2921;
	border-top-color: #cf2921;
	z-index: 2;
	-webkit-transition: -webkit-transform 0.6s ease-in-out 1.5s;
	-moz-transition: -moz-transform 0.6s ease-in-out 1.5s;
	-ms-transition: -ms-transform 0.6s ease-in-out 1.5s;
	-o-transition: -o-transform 0.6s ease-in-out 1.5s;
	transition: transform 0.6s ease-in-out 1.5s;
	-webkit-transform: translateX(-100%) translateZ(0);
	-moz-transform: translateX(-100%) translateZ(0);
	-ms-transform: translateX(-100%) translateZ(0);
	-o-transform: translateX(-100%) translateZ(0);
	transform: translateX(-100%) translateZ(0);
}

.itemlist .tran04 .tit01 {
	-webkit-transform: translateX(0) translateZ(0);
	-moz-transform: translateX(0) translateZ(0);
	-ms-transform: translateX(0) translateZ(0);
	-o-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
}

.itemlist .item04 .tit02 {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border: 45px solid transparent;
	border-right-color: #cf2921;
	border-top-color: #cf2921;
	z-index: 2;
	-webkit-transition: -webkit-transform 0.6s ease-in-out 1.5s;
	-moz-transition: -moz-transform 0.6s ease-in-out 1.5s;
	-ms-transition: -ms-transform 0.6s ease-in-out 1.5s;
	-o-transition: -o-transform 0.6s ease-in-out 1.5s;
	transition: transform 0.6s ease-in-out 1.5s;
	-webkit-transform: translateX(100%) translateZ(0);
	-moz-transform: translateX(100%) translateZ(0);
	-ms-transform: translateX(100%) translateZ(0);
	-o-transform: translateX(100%) translateZ(0);
	transform: translateX(100%) translateZ(0);
}

.itemlist .tran04 .tit02 {
	-webkit-transform: translateX(0) translateZ(0);
	-moz-transform: translateX(0) translateZ(0);
	-ms-transform: translateX(0) translateZ(0);
	-o-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
}

.itemlist .item04 .tit03 {
	position: absolute;
	top: 64px;
	left: -46px;
	z-index: 3;
	padding: 5px 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.itemlist .item04 .tit03 p {
	font-size: 12px;
	line-height: 16px;
	color: #fff;
	text-align: center;
	font-style: italic;
	-webkit-transition: -webkit-transform 0.6s ease-in-out;
	-moz-transition: -moz-transform 0.6s ease-in-out;
	-ms-transition: -ms-transform 0.6s ease-in-out;
	-o-transition: -o-transform 0.6s ease-in-out;
	transition: transform 0.6s ease-in-out;
	-webkit-transform: translateX(110%);
	-moz-transform: translateX(110%);
	-ms-transform: translateX(110%);
	-o-transform: translateX(110%);
	transform: translateX(110%);
}

.itemlist .item04 .tit03 p:nth-child(1) {
	font-size: 14px;
	line-height: 20px;
	-webkit-transition-delay: 2s;
	-moz-transition-delay: 2s;
	-ms-transition-delay: 2s;
	-o-transition-delay: 2s;
	transition-delay: 2s;
}

.itemlist .item04 .tit03 p:nth-child(2) {
	-webkit-transition-delay: 2.3s;
	-moz-transition-delay: 2.3s;
	-ms-transition-delay: 2.3s;
	-o-transition-delay: 2.3s;
	transition-delay: 2.3s;
}

.itemlist .item04 .tit03 p:nth-child(3) {
	-webkit-transition-delay: 2.6s;
	-moz-transition-delay: 2.6s;
	-ms-transition-delay: 2.6s;
	-o-transition-delay: 2.6s;
	transition-delay: 2.6s;
}

.itemlist .tran04 .tit03 p {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.itemlist .item04 .tit04 {
	position: absolute;
	top: 46%;
	left: 0;
	width: 100%;
	height: 151px;
	z-index: 5;
	background: url(../img/i04t4.png) center top no-repeat;
	background-size: auto 100%;
	opacity: 0;
	-webkit-transition: -webkit-transform 1.2s ease-in-out 1.8s,opacity 1.5s ease-in-out 1.8s;
	-moz-transition: -moz-transform 1.2s ease-in-out 1.8s,opacity 1.5s ease-in-out 1.8s;
	-ms-transition: -ms-transform 1.2s ease-in-out 1.8s,opacity 1.5s ease-in-out 1.8s;
	-o-transition: -o-transform 1.2s ease-in-out 1.8s,opacity 1.5s ease-in-out 1.8s;
	transition: transform 1.2s ease-in-out 1.8s,opacity 1.5s ease-in-out 1.8s;
	-webkit-transform: translateX(-100%) translateZ(0);
	-moz-transform: translateX(-100%) translateZ(0);
	-ms-transform: translateX(-100%) translateZ(0);
	-o-transform: translateX(-100%) translateZ(0);
	transform: translateX(-100%) translateZ(0);
}

.itemlist .tran04 .tit04 {
	opacity: 1;
	-webkit-transform: translateX(0) translateZ(0);
	-moz-transform: translateX(0) translateZ(0);
	-ms-transform: translateX(0) translateZ(0);
	-o-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
}

.itemlist .item04 .tit05 {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 3;
	opacity: 0;
	-webkit-transition: -webkit-transform 1.2s ease-in-out 1.8s,opacity 1.5s ease-in-out 1.8s;
	-moz-transition: -moz-transform 1.2s ease-in-out 1.8s,opacity 1.5s ease-in-out 1.8s;
	-ms-transition: -ms-transform 1.2s ease-in-out 1.8s,opacity 1.5s ease-in-out 1.8s;
	-o-transition: -o-transform 1.2s ease-in-out 1.8s,opacity 1.5s ease-in-out 1.8s;
	transition: transform 1.2s ease-in-out 1.8s,opacity 1.5s ease-in-out 1.8s;
	-webkit-transform: translateX(120%) translateZ(0);
	-moz-transform: translateX(120%) translateZ(0);
	-ms-transform: translateX(120%) translateZ(0);
	-o-transform: translateX(120%) translateZ(0);
	transform: translateX(120%) translateZ(0);
}

.itemlist .item04 .tit05:before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.6)),to(rgba(0,0,0,0.6)));
	background-image: -moz-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.6)),to(rgba(0,0,0,0.6)));
	background-image: -ms-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.6)),to(rgba(0,0,0,0.6)));
	background-image: -o-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.6)),to(rgba(0,0,0,0.6)));
	background-image: gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.6)),to(rgba(0,0,0,0.6)));
	-webkit-transform: skew(-45deg,0);
	-moz-transform: skew(-45deg,0);
	-ms-transform: skew(-45deg,0);
	-o-transform: skew(-45deg,0);
	transform: skew(-45deg,0);
}

.itemlist .tran04 .tit05 {
	opacity: 1;
	-webkit-transform: translateX(15%) translateZ(0);
	-moz-transform: translateX(15%) translateZ(0);
	-ms-transform: translateX(15%) translateZ(0);
	-o-transform: translateX(15%) translateZ(0);
	transform: translateX(15%) translateZ(0);
}

.itemlist .item04 .tit05 p {
	position: relative;
	width: 60px;
	height: 24px;
	margin: 12px 40px;
	padding: 0 10px 0 34px;
	border: 1px solid #3a3a3a;
	font-size: 14px;
	line-height: 24px;
	color: #6d6d6c;
	font-style: italic;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 12px;
}

.itemlist .item04 .tit05 p:before,.itemlist .item04 .tit05 p:after {
	content: "";
	display: block;
	position: absolute;
	top: 7px;
	border: 2px solid transparent;
	border-top-color: #c42826;
	border-right-color: #c42826;
	width: 5px;
	height: 5px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.itemlist .item04 .tit05 p:before {
	left: 10px;
}

.itemlist .item04 .tit05 p:after {
	left: 16px;
}

.itemlist .mask04 {
	-webkit-filter: blur(7px);
	-moz-filter: blur(7px);
	-ms-filter: blur(7px);
	-o-filter: blur(7px);
	filter: blur(7px);
}

.itemlist .item05 .tit00 {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: url(../img/bg05.jpg) center top no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: opacity 1.2s ease-in-out;
	-moz-transition: opacity 1.2s ease-in-out;
	-ms-transition: opacity 1.2s ease-in-out;
	-o-transition: opacity 1.2s ease-in-out;
	transition: opacity 1.2s ease-in-out;
}

.itemlist .tran05 .tit00 {
	opacity: 1;
}

.itemlist .item05 .tit01 {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border: 80px solid transparent;
	border-right-color: #cf2921;
	border-top-color: #cf2921;
	z-index: 2;
	-webkit-transition: -webkit-transform 0.6s ease-in-out 1s;
	-moz-transition: -moz-transform 0.6s ease-in-out 1s;
	-ms-transition: -ms-transform 0.6s ease-in-out 1s;
	-o-transition: -o-transform 0.6s ease-in-out 1s;
	transition: transform 0.6s ease-in-out 0s;
	-webkit-transform: translate3d(160px,160px,0);
	-moz-transform: translate3d(160px,160px,0);
	-ms-transform: translate3d(160px,160px,0);
	-o-transform: translate3d(160px,160px,0);
	transform: translate3d(160px,160px,0);
}

.itemlist .tran05 .tit01 {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.itemlist .item05 .tit02 {
	position: absolute;
	top: 30px;
	right: -25px;
	width: 450px;
	height: 337px;
	z-index: 3;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.itemlist .item05 .tit02 .win {
	width: 0;
	height: 100%;
	background: url(../img/i05t2.png) left top no-repeat;
	background-size: auto 100%;
	-webkit-transition: width 1.5s ease-in-out 1s;
	-moz-transition: width 1.5s ease-in-out 1s;
	-ms-transition: width 1.5s ease-in-out 1s;
	-o-transition: width 1.5s ease-in-out 1s;
	transition: width 1.5s ease-in-out 1s;
}

.itemlist .tran05 .tit02 .win {
	width: 100%;
}

.itemlist .item06 .tit00 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: #000;
	opacity: 0;
	-webkit-transition: opacity 0.7s ease-in-out;
	-moz-transition: opacity 0.7s ease-in-out;
	-ms-transition: opacity 0.7s ease-in-out;
	-o-transition: opacity 0.7s ease-in-out;
	transition: opacity 0.7s ease-in-out;
}

.itemlist .tran06 .tit00 {
	opacity: 1;
}

.itemlist .item06 .tit01 {
	position: absolute;
	top: 140px;
	left: -140%;
	width: 130%;
	z-index: 4;
	background: #cf2921;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.5s;
	-moz-transition: -moz-transform 1s ease-in-out 0.5s;
	-ms-transition: -ms-transform 1 ease-in-out 0.5s;
	-o-transition: -o-transform 1s ease-in-out 0.5s;
	transition: transform 1s ease-in-out 0.5s;
	-webkit-transform: translateX(0) translateZ(0);
	-moz-transform: translateX(0) translateZ(0);
	-ms-transform: translateX(0) translateZ(0);
	-o-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
}

.itemlist .item06 .tit01 p {
	width: 70%;
	font-size: 12px;
	line-height: 16px;
	color: #fff;
	padding: 8px 15px 8px 25px;
	text-indent: 2em;
}

.itemlist .tran06 .tit01 {
	-webkit-transform: translateX(105%) translateZ(0);
	-moz-transform: translateX(105%) translateZ(0);
	-ms-transform: translateX(105%) translateZ(0);
	-o-transform: translateX(105%) translateZ(0);
	transform: translateX(105%) translateZ(0);
}

.itemlist .item06 .tit02 {
	position: absolute;
	top: 160px;
	right: -300px;
	width: 70px;
	height: 300px;
	background: #cf2921;
	z-index: 3;
	-webkit-transition: -webkit-transform 0.8s ease-in-out 1.2s;
	-moz-transition: -moz-transform 0.8s ease-in-out 1.2s;
	-ms-transition: -ms-transform 0.8s ease-in-out 1.2s;
	-o-transition: -o-transform 0.8s ease-in-out 1.2s;
	transition: transform 0.8s ease-in-out 1.2s;
	-webkit-transform: skew(45deg,0deg) translate3d(0,0,0);
	-moz-transform: skew(45deg,0deg) translate3d(0,0,0);
	-ms-transform: skew(45deg,0deg) translate3d(0,0,0);
	-o-transform: skew(45deg,0deg) translate3d(0,0,0);
	transform: skew(45deg,0deg) translate3d(0,0,0);
}

.itemlist .tran06 .tit02 {
	-webkit-transform: skew(45deg,0deg) translate3d(-90px,-200px,0);
	-moz-transform: skew(45deg,0deg) translate3d(-90px,-200px,0);
	-ms-transform: skew(45deg,0deg) translate3d(-90px,-200px,0);
	-o-transform: skew(45deg,0deg) translate3d(-90px,-200px,0);
	transform: skew(45deg,0deg) translate3d(-90px,-200px,0);
}

.itemlist .item06 .tit03 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 130%;
	height: 180px;
	background: #cf2921;
	z-index: 2;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.5s;
	-moz-transition: -moz-transform 1s ease-in-out 0.5s;
	-ms-transition: -ms-transform 1s ease-in-out 0.5s;
	-o-transition: -o-transform 1s ease-in-out 0.5s;
	transition: transform 1s ease-in-out 0.5s;
	-webkit-transform: rotate(-15deg) translate3d(-110%,0,0);
	-moz-transform: rotate(-15deg) translate3d(-110%,0,0);
	-ms-transform: rotate(-15deg) translate3d(-110%,0,0);
	-o-transform: rotate(-15deg) translate3d(-110%,0,0);
	transform: rotate(-15deg) translate3d(-110%,0,0);
}

.itemlist .item06 .tit03:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 0;
	height: 0;
	z-index: 2;
	border: 90px solid transparent;
	border-left-color: #000;
}

.itemlist .tran06 .tit03 {
	-webkit-transform: rotate(-15deg) translate3d(28px,-45px,0);
	-moz-transform: rotate(-15deg) translate3d(28px,-45px,0);
	-ms-transform: rotate(-15deg) translate3d(28px,-45px,0);
	-o-transform: rotate(-15deg) translate3d(28px,-45px,0);
	transform: rotate(-15deg) translate3d(28px,-45px,0);
}

.itemlist .item06 .tit04 {
	position: absolute;
	bottom: 121px;
	right: 0;
	width: 100%;
	height: 143px;
	z-index: 5;
	background: url(../img/i06t4.png) right top no-repeat;
	background-size: auto 100%;
	opacity: 0;
	-webkit-transition: -webkit-transform 1.2s ease-in-out 1.2s,opacity 1.5s ease-in-out 1.2s;
	-moz-transition: -moz-transform 1.2s ease-in-out 1.2s,opacity 1.5s ease-in-out 1.2s;
	-ms-transition: -ms-transform 1.2s ease-in-out 1.2s,opacity 1.5s ease-in-out 1.2s;
	-o-transition: -o-transform 1.2s ease-in-out 1.2s,opacity 1.5s ease-in-out 1.2s;
	transition: transform 1.2s ease-in-out 1.2s,opacity 1.5s ease-in-out 1.2s;
	-webkit-transform: translateX(50px) translateZ(0);
	-moz-transform: translateX(50px) translateZ(0);
	-ms-transform: translateX(50px) translateZ(0);
	-o-transform: translateX(50px) translateZ(0);
	transform: translateX(50px) translateZ(0);
}

.itemlist .tran06 .tit04 {
	opacity: 1;
	-webkit-transform: translateX(0) translateZ(0);
	-moz-transform: translateX(0) translateZ(0);
	-ms-transform: translateX(0) translateZ(0);
	-o-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
}

.itemlist .item07 .tit00 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: url(../img/bg07.jpg) #000 repeat;
	opacity: 0;
	-webkit-transition: opacity 0.7s ease-in-out;
	-moz-transition: opacity 0.7s ease-in-out;
	-ms-transition: opacity 0.7s ease-in-out;
	-o-transition: opacity 0.7s ease-in-out;
	transition: opacity 0.7s ease-in-out;
}

.itemlist .tran07 .tit00 {
	opacity: 1;
}

.itemlist .item07 .tit01 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	opacity: 0;
	-webkit-transition: opacity 0.7s ease-in-out;
	-moz-transition: opacity 0.7s ease-in-out;
	-ms-transition: opacity 0.7s ease-in-out;
	-o-transition: opacity 0.7s ease-in-out;
	transition: opacity 0.7s ease-in-out;
}

.itemlist .item07 .tit01 dl {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
}

.itemlist .item07 .tit01 dd {
	width: 100%;
	height: 100%;
}

.itemlist .item07 .tit01 dd img {
	display: block;
	border: 3px solid #ff1000;
	-webkit-transition: -webkit-transform 1s ease-in-out,border 1s ease-in-out;
	-moz-transition: -moz-transform 1s ease-in-out,border 1s ease-in-out;
	-ms-transition: -ms-transform 1s ease-in-out,border 1s ease-in-out;
	-o-transition: -o-transform 1s ease-in-out,border 1s ease-in-out;
	transition: transform 1s ease-in-out,border 1s ease-in-out;
	-webkit-transform: rotate(3deg) scale(0.5);
	-moz-transform: rotate(3deg) scale(0.5);
	-ms-transform: rotate(3deg) scale(0.5);
	-o-transform: rotate(3deg) scale(0.5);
	transform: rotate(3deg) scale(0.5);
}

.itemlist .item07 .tit01 dd img.full {
	border: 0 solid #ff1000;
	-webkit-transform: rotate(0deg) scale(1);
	-moz-transform: rotate(0deg) scale(1);
	-ms-transform: rotate(0deg) scale(1);
	-o-transform: rotate(0deg) scale(1);
	transform: rotate(0deg) scale(1);
}

.itemlist .tran07 .tit01 {
	opacity: 1;
}

.itemlist .tran07 .pageleft,.itemlist .tran07 .pageright {
	position: absolute;
	top: 45%;
	width: 24px;
	height: 54px;
	background: url(../img/arrow.png) no-repeat;
	background-size: auto 100%;
	z-index: 9;
}

.itemlist .tran07 .pageleft {
	left: 10px;
	background-position: 0 0;
}

.itemlist .tran07 .pageright {
	right: 10px;
	background-position: -24px 0;
}

.itemlist .item08 .tit00 {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: url(../img/bg08.jpg) center top no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: opacity 1.2s ease-in-out;
	-moz-transition: opacity 1.2s ease-in-out;
	-ms-transition: opacity 1.2s ease-in-out;
	-o-transition: opacity 1.2s ease-in-out;
	transition: opacity 1.2s ease-in-out;
}

.itemlist .tran08 .tit00 {
	opacity: 1;
}

.itemlist .item08 .tit01,.itemlist .item08 .tit02 {
	position: absolute;
	width: 100%;
	height: 240px;
	z-index: 2;
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.7)));
	background-image: -moz-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.7)));
	background-image: -ms-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.7)));
	background-image: -o-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.7)));
	background-image: gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.7)));
	-webkit-transition: width 0.6s ease-in-out 1s,-webkit-transform 0.8s ease-in-out 1.6s;
	-moz-transition: width 0.6s ease-in-out 1s,-moz-transform 0.8s ease-in-out 1.6s;
	-ms-transition: width 0.6s ease-in-out 1s,-ms-transform 0.8s ease-in-out 1.6s;
	-o-transition: width 0.6s ease-in-out 1s,-o-transform 0.8s ease-in-out 1.6s;
	transition: width 0.6s ease-in-out 1s,transform 0.8s ease-in-out 1.6s;
	-webkit-transform: rotate(0deg) translateZ(0);
	-moz-transform: rotate(0deg) translateZ(0);
	-ms-transform: rotate(0deg) translateZ(0);
	-o-transform: rotate(0deg) translateZ(0);
	transform: rotate(0deg) translateZ(0);
}

.itemlist .item08 .tit01 {
	top: -120px;
	left: -100%;
}

.itemlist .item08 .tit02 {
	top: auto;
	left: auto;
	bottom: -120px;
	right: -100%;
}

.itemlist .tran08 .tit01,.itemlist .tran08 .tit02 {
	width: 200%;
	-webkit-transform: rotate(-45deg) translateZ(0);
	-moz-transform: rotate(-45deg) translateZ(0);
	-ms-transform: rotate(-45deg) translateZ(0);
	-o-transform: rotate(-45deg) translateZ(0);
	transform: rotate(-45deg) translateZ(0);
}

.itemlist .item08 .videobox {
	position: absolute;
	top: 20%;
	bottom: 20%;
	width: 100%;
	height: 60%;
	background: url(../img/videoplay.png) center center no-repeat;
	background-size: 47px auto;
	z-index: 3;
}

.itemlist .item08 .video {
	width: 100%;
	height: 100%;
	display: none;
}

.itemlist .item09 .tit00 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: url(../img/bg09.jpg) top center #000 no-repeat;
	background-size: cover;
	opacity: 0;
	-webkit-transition: opacity 0.7s ease-in-out;
	-moz-transition: opacity 0.7s ease-in-out;
	-ms-transition: opacity 0.7s ease-in-out;
	-o-transition: opacity 0.7s ease-in-out;
	transition: opacity 0.7s ease-in-out;
}

.itemlist .tran09 .tit00 {
	opacity: 1;
}

.itemlist .item09 .tit01 {
	position: absolute;
	top: -62px;
	left: 5%;
	width: 62px;
	height: 62px;
	background: url(../img/logo.jpg) center top no-repeat;
	background-size: auto 100%;
	z-index: 9;
	opacity: 0;
	-webkit-transition: -webkit-transform 1.5s ease-in-out 0.5s,opacity 2s ease-in-out 0.5s;
	-moz-transition: -moz-transform 1.5s ease-in-out 0.5s,opacity 2s ease-in-out 0.5s;
	-ms-transition: -ms-transform 1.5s ease-in-out 0.5s,opacity 2s ease-in-out 0.5s;
	-o-transition: -o-transform 1.5s ease-in-out 0.5s,opacity 2s ease-in-out 0.5s;
	transition: transform 1.5s ease-in-out 0.5s,opacity 2s ease-in-out 0.5s;
	-webkit-transform: translateY(0) translateZ(0);
	-moz-transform: translateY(0) translateZ(0);
	-ms-transform: translateY(0) translateZ(0);
	-o-transform: translateY(0) translateZ(0);
	transform: translateY(0) translateZ(0);
}

.itemlist .tran09 .tit01 {
	opacity: 1;
	-webkit-transform: translateY(100%) translateZ(0);
	-moz-transform: translateY(100%) translateZ(0);
	-ms-transform: translateY(100%) translateZ(0);
	-o-transform: translateY(100%) translateZ(0);
	transform: translateY(100%) translateZ(0);
}

.itemlist .item09 .tit02 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 200px solid transparent;
	border-left-color: #cf2921;
	border-top-color: #cf2921;
	z-index: 2;
	-webkit-transition: -webkit-transform 1s ease-in-out 0.5s;
	-moz-transition: -moz-transform 1s ease-in-out 0.5s;
	-ms-transition: -ms-transform 1s ease-in-out 0.5s;
	-o-transition: -o-transform 1s ease-in-out 0.5s;
	transition: transform 1s ease-in-out 0.5s;
	-webkit-transform: skew(0,-15deg) translate3d(-150%,100%,0);
	-moz-transform: skew(0,-15deg) translate3d(-150%,100%,0);
	-ms-transform: skew(0,-15deg) translate3d(-150%,100%,0);
	-o-transform: skew(0,-15deg) translate3d(-150%,100%,0);
	transform: skew(0,-15deg) translate3d(-150%,100%,0);
}

.itemlist .tran09 .tit02 {
	-webkit-transform: skew(0,-15deg) translate3d(0,120px,0);
	-moz-transform: skew(0,-15deg) translate3d(0,120px,0);
	-ms-transform: skew(0,-15deg) translate3d(0,120px,0);
	-o-transform: skew(0,-15deg) translate3d(0,120px,0);
	transform: skew(0,-15deg) translate3d(0,30%,0);
}

.itemlist .item09 .tit03 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 100px solid transparent;
	border-right-color: #cf2921;
	border-top-color: #cf2921;
	z-index: 2;
	-webkit-transition: -webkit-transform 0.5s ease-in-out 1.5s;
	-moz-transition: -moz-transform 0.5s ease-in-out 1.5s;
	-ms-transition: -ms-transform 0.5s ease-in-out 1.5s;
	-o-transition: -o-transform 0.5s ease-in-out 1.5s;
	transition: transform 0.5s ease-in-out 1.5s;
	-webkit-transform: skew(50deg,5deg) translate3d(320%,0,0);
	-moz-transform: skew(50deg,5deg) translate3d(320%,0,0);
	-ms-transform: skew(50deg,5deg) translate3d(320%,0,0);
	-o-transform: skew(50deg,5deg) translate3d(320%,0,0);
	transform: skew(50deg,5deg) translate3d(320%,0,0);
}

.itemlist .tran09 .tit03 {
	-webkit-transform: skew(50deg,5deg) translate3d(220%,-160px,0);
	-moz-transform: skew(50deg,5deg) translate3d(220%,-160px,0);
	-ms-transform: skew(50deg,5deg) translate3d(220%,-160px,0);
	-o-transform: skew(50deg,5deg) translate3d(220%,-160px,0);
	transform: skew(50deg,5deg) translate3d(220%,-80%,0);
}

.itemlist .item09 .tit04 {
	position: absolute;
	bottom: 305px;
	left: 130px;
	width: 0;
	height: 0;
	border-top: 25px solid #cf2921;
	border-right: 300px solid transparent;
	border-bottom: 0;
	border-left: 30px solid transparent;
	z-index: 2;
	opacity: 0;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.5s ease-in-out 2s,opacity 0s ease-in-out 2s;
	-moz-transition: -moz-transform 0.5s ease-in-out 2s,opacity 0s ease-in-out 2s;
	-ms-transition: -ms-transform 0.5s ease-in-out 2s,opacity 0s ease-in-out 2s;
	-o-transition: -o-transform 0.5s ease-in-out 2s,opacity 0s ease-in-out 2s;
	transition: transform 0.5s ease-in-out 2s,opacity 0s ease-in-out 2s;
	-webkit-transform: rotate(-15deg) scale(0.5);
	-moz-transform: rotate(-15deg) scale(0.5);
	-ms-transform: rotate(-15deg) scale(0.5);
	-o-transform: rotate(-15deg) scale(0.5);
	transform: rotate(-15deg) scale(0.5);
}

.itemlist .tran09 .tit04 {
	opacity: 1;
	-webkit-transform: rotate(-15deg) scale(1);
	-moz-transform: rotate(-15deg) scale(1);
	-ms-transform: rotate(-15deg) scale(1);
	-o-transform: rotate(-15deg) scale(1);
	transform: rotate(-15deg) scale(1);
}

.itemlist .item09 .tit05 {
	position: absolute;
	bottom: 60px;
	left: 0;
	width: 247px;
	z-index: 2;
	-webkit-transition: -webkit-transform 1s ease-in-out 1.3s;
	-moz-transition: -moz-transform 1s ease-in-out 1.3s;
	-ms-transition: -ms-transform 1 ease-in-out 1.3s;
	-o-transition: -o-transform 1s ease-in-out 1.3s;
	transition: transform 1s ease-in-out 1.3s;
	-webkit-transform: translateX(-100%) translateZ(0);
	-moz-transform: translateX(-100%) translateZ(0);
	-ms-transform: translateX(-100%) translateZ(0);
	-o-transform: translateX(-100%) translateZ(0);
	transform: translateX(-100%) translateZ(0);
}

.itemlist .tran09 .tit05 {
	-webkit-transform: translateX(0) translateZ(0);
	-moz-transform: translateX(0) translateZ(0);
	-ms-transform: translateX(0) translateZ(0);
	-o-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
}

.itemlist .item09 .inner {
	color: #fff;
	font-size: 12px;
}

.itemlist .item09 .inner .tel,.itemlist .item09 .inner .wx {
	position: relative;
	height: 20px;
	padding: 0 0 0 50px;
	margin: 0 0 5px 30px;
	background: url(../img/connect.png) 0 0 no-repeat;
	background-size: 20px auto;
}

.itemlist .item09 .inner .tel {
	padding: 0 0 0 75px;
}

.itemlist .item09 .inner .tel:before,.itemlist .item09 .inner .wx:before {
	position: absolute;
	content: "";
	display: block;
	top: 5px;
	left: 30px;
	width: 0;
	height: 10px;
	border-left: 1px solid #fff;
}


.itemlist .item09 .inner .wx {
	background-position: 0 -20px;
}

.itemlist .item09 .inner .tel span,.itemlist .item09 .inner .wx span {
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
	width: 100px;
	height: 20px;
	line-height: 20px;
	padding: 0 30px 0 10px;
	-webkit-transition: -webkit-transform 1s ease-in-out 1.6s;
	-moz-transition: -moz-transform 1s ease-in-out 1.6s;
	-ms-transition: -ms-transform 1 ease-in-out 1.6s;
	-o-transition: -o-transform 1s ease-in-out 1.6s;
	transition: transform 1s ease-in-out 1.6s;
	-webkit-transform: translateX(400%) translateZ(0);
	-moz-transform: translateX(400%) translateZ(0);
	-ms-transform: translateX(400%) translateZ(0);
	-o-transform: translateX(400%) translateZ(0);
	transform: translateX(400%) translateZ(0);
}

.itemlist .tran09 .inner .tel span,.itemlist .tran09 .inner .wx span {
	-webkit-transform: translateX(0) translateZ(0);
	-moz-transform: translateX(0) translateZ(0);
	-ms-transform: translateX(0) translateZ(0);
	-o-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
}

.itemlist .item09 .inner .wx span {
	padding: 0 5px 0 35px;
}

.itemlist .item09 .inner .tel span:before,.itemlist .item09 .inner .wx span:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: -1;
	-webkit-transform: skew(-45deg,0deg);
	-moz-transform: skew(-45deg,0deg);
	-ms-transform: skew(-45deg,0deg);
	-o-transform: skew(-45deg,0deg);
	transform: skew(-45deg,0deg);
}

.itemlist .item09 .inner .cutit {
	font-size: 16px;
	line-height: 24px;
	border-bottom: 1px solid #da6961;
	padding: 10px 0 6px 30px;
	margin-bottom: 8px;
}

.itemlist .item09 .inner .cudet {
	line-height: 24px;
	padding-left: 30px;
}

.poplayer {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	overflow: hidden;
	display: none;
}

.poplayer .tit01 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.5)),to(rgba(0,0,0,0.5)));
	background-image: -moz-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.5)),to(rgba(0,0,0,0.5)));
	background-image: -ms-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.5)),to(rgba(0,0,0,0.5)));
	background-image: -o-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.5)),to(rgba(0,0,0,0.5)));
	background-image: gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.5)),to(rgba(0,0,0,0.5)));
	-webkit-transition: opacity 1.2s ease-in-out;
	-moz-transition: opacity 1.2s ease-in-out;
	-ms-transition: opacity 1.2s ease-in-out;
	-o-transition: opacity 1.2s ease-in-out;
	transition: opacity 1.2s ease-in-out;
}

.poplayer .fcon {
	position: relative;
	top: 13%;
	left: 0;
	width: 85%;
	height: 75%;
	margin: 0 auto;
	padding: 10px;
	font-size: 12px;
	color: #999;
	opacity: 0;
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.6)),to(rgba(0,0,0,0.6)));
	background-image: -moz-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.6)),to(rgba(0,0,0,0.6)));
	background-image: -ms-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.6)),to(rgba(0,0,0,0.6)));
	background-image: -o-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.6)),to(rgba(0,0,0,0.6)));
	background-image: gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,0.6)),to(rgba(0,0,0,0.6)));
	-webkit-transition: -webkit-transform 1s ease-in-out,opacity 1.2s ease-in-out;
	-moz-transition: -moz-transform 1s ease-in-out,opacity 1.2s ease-in-out;
	-ms-transition: -ms-transform 1s ease-in-out,opacity 1.2s ease-in-out;
	-o-transition: -o-transform 1s ease-in-out,opacity 1.2s ease-in-out;
	transition: transform 1s ease-in-out,opacity 1.2s ease-in-out;
	-webkit-transform: translateY(100%) translateZ(0);
	-moz-transform: translateY(100%) translateZ(0);
	-ms-transform: translateY(100%) translateZ(0);
	-o-transform: translateY(100%) translateZ(0);
	transform: translateY(100%) translateZ(0);
}

.poplayer .fcon h3 {
	font-size: 20px;
	line-height: 30px;
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(#adadad));
	background-image: -moz-gradient(linear,0% 0%,0% 100%,from(#fff),to(#adadad));
	background-image: -ms-gradient(linear,0% 0%,0% 100%,from(#fff),to(#adadad));
	background-image: -o-gradient(linear,0% 0%,0% 100%,from(#fff),to(#adadad));
	background-image: gradient(linear,0% 0%,0% 100%,from(#fff),to(#adadad));
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

.poplayer .fcon dl {
	line-height: 24px;
	border: 1px solid #4b4e52;
	margin-top: 12px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
}

.poplayer .fcon dt {
	width: 27%;
	text-align: left;
	position: relative;
}

.poplayer .fcon dt:after {
	content: "";
	display: block;
	position: absolute;
	right: 3px;
	height: 70%;
	top: 15%;
	border-right: 1px solid #8a8a8a;
	z-index: 1;
}

.poplayer .fcon dt span {
	padding-left: 5px;
}

.poplayer .fcon dd {
	width: 73%;
	margin-right: -3px;
}

.poplayer .fcon dd input {
	position: relative;
	width: 100%;
	float: left;
	display: block;
	border: none;
	background: transparent;
	color: #999;
	z-index: 2;
}

.poplayer .fcon dd input:focus {
	margin: -1px -1px -2px -4px;
	padding-right: 3px;
	border: 1px solid #d12b1e;
}

.poplayer .fcon .w2 dt {
	width: 42%;
}

.poplayer .fcon .w2 dd {
	width: 58%;
}

.poplayer .fcon .func {
	margin-top: 10px;
	overflow: hidden;
}

.poplayer .fcon .func .chkb {
	position: relative;
	width: 10px;
	height: 10px;
	border: none;
	background: #fff;
}

.poplayer .fcon .func .chkb:checked::after {
	position: absolute;
	content: "";
	display: block;
	top: -2px;
	left: 1px;
	width: 10px;
	height: 6px;
	border-left: 1px solid #d12b1e;
	border-bottom: 1px solid #d12b1e;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.poplayer .fcon .func label {
}

.poplayer .fcon .func span {
	float: right;
}

.poplayer .fcon p {
	position: relative;
	width: 60px;
	height: 24px;
	margin: 10px auto 0;
	padding: 0 10px 0 34px;
	border: 1px solid #3a3a3a;
	font-size: 14px;
	line-height: 24px;
	color: #6d6d6c;
	font-style: italic;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 12px;
}

.poplayer .fcon .subm:before,.poplayer .fcon .subm:after {
	content: "";
	display: block;
	position: absolute;
	top: 7px;
	border: 2px solid transparent;
	border-top-color: #c42826;
	border-right-color: #c42826;
	width: 5px;
	height: 5px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.poplayer .fcon .subm:before {
	left: 10px;
}

.poplayer .fcon .subm:after {
	left: 16px;
}

.poplayer .pop01 {
	z-index: 9;
	opacity: 1;
}

.poplayer .pop01 .fcon {
	opacity: 1;
	-webkit-transform: translateY(0) translateZ(0);
	-moz-transform: translateY(0) translateZ(0);
	-ms-transform: translateY(0) translateZ(0);
	-o-transform: translateY(0) translateZ(0);
	transform: translateY(0) translateZ(0);
}

.poplayer i.close {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 25px;
	height: 25px;
	border: 2px solid #fff;
	background: #000;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.poplayer i.close:before {
	position: absolute;
	content: "";
	display: block;
	width: 19px;
	height: 1px;
	top: 12px;
	left: 3px;
	background: #fff;
}

.poplayer i.close:after {
	position: absolute;
	content: "";
	display: block;
	width: 1px;
	height: 19px;
	top: 3px;
	left: 12px;
	background: #fff;
}